@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    padding: 0;
    margin: 0;
}
.top-container {
    position: relative;
    z-index: 20;
    height: 80px;
    background: rgb(194, 225, 247);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.25);
}
.top img {
    margin: 5px;
    height: 75px;
    width: auto;
}
.modal-title img {
    margin: 5px;
    height: 60px;
    width: auto;
    margin-bottom: -0.5rem;
}
.menu {
    position: relative;
    font-family: 'Nunito', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
    z-index: 20;
}

#flush-headingOne{
    background: rgba(213, 98, 91, 1);
}
#flush-headingTwo{
    background: rgba(102, 166, 81, 1);
}
#flush-headingThree{
    background: rgba(233, 118, 111, 1);
}
#flush-headingFour{
    background: rgba(122, 186, 101, 1);
}
#flush-headingFive{
    background: rgba(253, 138, 131, 1);
}
.menu-title {
    color: #2980b9;
    font-family: 'Staatliches', cursive;
    margin: auto;
    text-align: center;
    font-size: 45px;
    margin-top: 15px;
}
.accordion-button {
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    color: white;
}
.accordion-item {
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.25);
    background: #2980b9;
}
.card-img-top {
    border-radius: 5px;
    margin: auto;
    width: 98%;
    height: auto;
    margin-top: 5px;
}
.btn {
    background: #2980b9;
    color: aliceblue;
    outline-style: none;
}
.btn:checked{
    background: #184d70;
}
small{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}
.background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-image: url('logobg.png');
    bottom: 0;
    z-index: 10;
    opacity: 0.1;
}
.cart-btn-container {
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 20;
}
#open-cart{
    color: #2980b9;
    font-size: 35px;
    text-align: center;
    background: rgb(194, 225, 247);
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    border: none;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    outline-style: none;
}
#open-cart i {
    margin-left: -5px;
}
#open-cart:active {
    transform: scale(0.9);
}
.social-container {
    position: fixed;
    left: 25px;
    bottom: 8px;
    z-index: 15;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.social-container a {
    color: #2980b9;
    margin: auto;
    text-align: center;
    font-size: 40px;
}
.wpp-number {
    text-align: center;
    margin-top: 1.2rem;
    margin-left: -0.3rem;
    font-size: 18px;
    color: #2980b9;
    font-family: 'Staatliches',sans-serif;
}
.social-container a {
    position: relative;
    margin: auto;
    text-align: center;
}
.item {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline-block;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: row;
    font-family: 'Staatliches',sans-serif;
}
.item-info {
    position: absolute;
    display: inline-block;
    position: relative;
    left: 0;
}
.item-price {
    position: absolute;
    display: inline-block;
    right: 1rem;
    text-align: end;
    margin-top: 0.6rem;
}
.item-price button {
    font-family: sans-serif;
    font-size: 10px;
    width: 25px;
    height: 25px;
    border: 2px solid rgba(0,0,0,0.45);
    color: rgba(0,0,0,0.45);
    border-radius: 50%;
    background: none;
    outline-style: none;
}
.item-price p{
    margin-top: 0.45rem;
}
.item-input {
    margin-bottom: -0.6rem;
    margin-top: 0.6rem;
}
.item-input input {
    margin: 0;
    text-align: center;
    width: 30px;
    background: none;
    border: none;
    outline-style: none;
}
.item-input button {
    color: white;
    background: rgba(0,0,0,0.2);
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    outline-style: none;
}
.item-name {
    margin: auto;
    font-size: 15px;
    margin-top: 1.3rem;
    margin-bottom: 0;
}
#send-btn {
    margin: auto;
    font-family: 'Staatliches',sans-serif;
    font-size: 25px;
    width: 10rem;
    height: 50px;
}
.total-container{
    font-family: 'Staatliches', sans-serif;
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
    column-gap: 50%;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.total-container h2{
    font-size: 40px;
    text-align: start;
    margin-left: 1rem;
}
.total-container p {
    position: absolute;
    right: 0.9rem;
    text-align: end;
    font-size: 35px;
}
.modal-footer {
    text-align: center;
    margin: auto;
}
.alert-msg {
    font-family: 'Staatliches',sans-serif;
    font-size: 25px;
    text-align: center;
}
@media (max-width: 360px) {
    .social-container{
        flex-direction: column;
    }
    .social-container a {
        margin-top: -10px;
        bottom: -15px;
    }
    .wpp-number {
        margin-top: 0;
    }
}
