@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    padding: 0;
    margin: 0;
}
.top-container {
    height: 80px;
    background: rgb(194, 225, 247);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}
.top img {
    height: 75px;
    width: auto;
}
.menu {
    font-family: 'Nunito', sans-serif;
    margin: auto;
    text-align: center;
    margin-top: 1%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.3);
}

#burger{
    background: #f1c40f;
}
#swish{
    background: #2ecc71;
}
#combo{
    background: #e74c3c;
}
.menu-title {
    font-family: 'Staatliches', cursive;
    margin: auto;
    text-align: center;
    margin-top: 25px;
}
.accordion-button {
    font-family: 'Staatliches', cursive;
    font-size: 25px;
    color: white;
}
.card-img-top {
    margin-top: 5px;
}